<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tournament</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <style>
        .button1:hover {
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
</head>

<body><br>
    <div class="container-fluid">
         <div class="row">
             <div class="col-sm-11 col-md-7">
                <div class="panel" style="background-color:rgb(114, 0, 0); border-radius: 30px; width: 1000px; position: absolute; left: 100px;">
                    <div class="panel-body" style="background-color:rgb(114, 0, 0); border-radius: 25px; width: 1000px;">
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'home/form_template.html' %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-success button1 col-sm-offset-2" style="font-family: 'Audiowide'; position: relative; left: 100px;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
             </div>
         </div>
    </div>
</body>
</html>
